<div id="div_back">
  <md-card id="md_card_navigation">
    <h1>Bienvenue</h1>

    <button md-button [routerLink]="['/gestion_camion']">
      Gestion de camion
    </button>

    <button md-button [routerLink]="['/gestion_camionneur']">
      Gestion de camioneur
    </button>

    <md-select placeholder="Trajets" [(ngModel)]="selectedValue" name="camionSelected">
      <md-option *ngFor="let camion of camions" (click)="goToPage(camion.nom)" [value]="camion.nom">
        Trajet {{camion.nom}}
      </md-option>
    </md-select>

  </md-card>

</div>
