<md-toolbar color="primary">
  <span>
    <a [routerLink]="['/home']">
      Road Runner Quest
    </a>
  </span>
  <span class="spacer"></span>


  <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="this._authService.utilisateurConnecte!=null">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu #menu="mdMenu">

    <button md-menu-item [routerLink]="['/home']">
      <md-icon>home</md-icon>
      <span class="black_span">
          Accueil
      </span>
    </button>

    <button md-menu-item [routerLink]="['/login']" (click)="this.deconnecter()">
      <md-icon>lock</md-icon>
      <span class="black_span" >
          Déconnecter
      </span>
    </button>

  </md-menu>

</md-toolbar>
