<div id="div_back">
  <md-card id="add">

    <h1>Gestion de camionneur</h1>

    <md-input-container>
      <input mdInput placeholder="Nom" #nom>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Prénom" #prenom>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Nom d'utilisateur" #utilisateur>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Mot de passe" type="password">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Confirmer mot de passe" type="password">
    </md-input-container>

    <div>
      <button md-button (click)="this.addCamionneur({nom:nom.value,prenom:prenom.value,utilisateur:utilisateur.value})">
        Ajouter
      </button>
    </div>
  <!--TEST-->
  </md-card>
  <md-card class="card_camionneur" *ngFor="let camionneur of camionneurs">
    <h2>{{camionneur.prenom}} {{camionneur.nom}}</h2>
    <p>@{{camionneur.utilisateur}}</p>
    <button md-button (click)="this.removecamionneur(camionneur)">
      Deletee
    </button>
  </md-card>

</div>
