<md-card id="card_add_point" >
  <form class="stretched_form"
        (submit)="this.creerNouveauCamionneur({nom:nom.value,prenom:prenom.value,utilisateur:utilisateur.value,motDePasse:motDePasse.value})">
      <h1>Gestion de camionneur</h1>

      <md-input-container>
        <input mdInput placeholder="Nom" #nom>
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Prénom" #prenom>
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Nom d'utilisateur" #utilisateur>
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Mot de passe" type="password" #motDePasse>
      </md-input-container>

    <button class="boutonMauve" md-button type="submit">
      Ajouter
    </button>
  </form>
</md-card>

<md-card id="card_back_les_camions">
  <md-card *ngFor="let camionneur of camionneurs">
    <h2>{{camionneur.prenom}} {{camionneur.nom}}</h2>
    <p>@{{camionneur.utilisateur}}</p>
    <button md-button class="btn_delete" (click)="removeCamionneur(camionneur)">
      Deletee
    </button>
  </md-card>
</md-card>

