<div id="div_back">
  <md-card id="add">

    <h1>Gestion de camionneur</h1>

    <md-input-container>
      <input mdInput placeholder="Nom">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Prénom">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Nom d'utilisateur">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Mot de passe" type="password">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Confirmer mot de passe" type="password">
    </md-input-container>

    <div>
      <button md-button>
        Ajouter
      </button>
    </div>

  </md-card>

  <md-card class="card_camion" (click)="displayConfirmDialog()">
    <h2>Jerry Smith</h2>
    <p>@Jsmitho</p>
    <button md-button>
      Delete
    </button>
  </md-card>

  <md-card class="card_camion">
    <h2>Jerry Smith</h2>
    <p>@Jsmitho</p>
    <button md-button (click)="displayConfirmDialog()">
      Delete
    </button>
  </md-card>


</div>
