/*---Card pour ajouter des camions---*/
#card_add_point{
  float:left;
  height: 91vh;
  width: 20%;
}

.boutonMauve{
  background-color: #673ab7;
  color: white;
}

/*----Section des camions ajoutés----*/

#card_back_google_map{
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 91vh;
  flex-wrap: wrap;
}

.btn_delete{
  background-color: red;
  color:white;
}
