<md-card id="card_add_point">

  <form class="stretched_form" (submit)="addCamion({nom:nom.value,marque:marque.value,plaque:plaque.value})">

    <h1>Gestion de camion</h1>

    <md-input-container>
      <input mdInput placeholder="Nom" #nom>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Marque" #marque >
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Plaque" #plaque>
    </md-input-container>

    <button class="boutonMauve" type="submit" md-button>
      Ajouter
    </button>

  </form>

</md-card>


<md-card id="card_back_les_camions">
  <md-card *ngFor="let camion of camions">
    <h2>Camion : {{camion.nom}}</h2>
    <p>Marque : {{camion.marque}}</p>
    <p>Plaque : {{camion.plaque}}</p>
    <button class="btn_delete" md-button (click)="this.removeCamion(camion)">
      Supprimer
    </button>
  </md-card>
</md-card>
