<div id="div_back">
  <md-card id="add">

    <h1>Gestion de camion</h1>

    <md-input-container>
      <input mdInput placeholder="Nom">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Numéro">
    </md-input-container>


    <div>
      <button md-button>
        Ajouter
      </button>
    </div>

  </md-card>

  <md-card class="card_camion">
    <h2>Camion BMW</h2>
    <p>#124123</p>
    <button md-button>
      Delete
    </button>
  </md-card>

  <md-card class="card_camion">
    <h2>Camion BMW</h2>
    <p>#124123</p>
    <button md-button>
      Delete
    </button>
  </md-card>

  <md-card class="card_camion">
    <h2>Camion BMW</h2>
    <p>#124123</p>
    <button md-button>
      Delete
    </button>
  </md-card>

  <md-card class="card_camion">
    <h2>Camion BMW</h2>
    <p>#124123</p>
    <button md-button>
      Delete
    </button>
  </md-card>

  <md-card class="card_camion">
    <h2>Camion BMW</h2>
    <p>#124123</p>
    <button md-button>
      Delete
    </button>
  </md-card>

</div>
