/*---Card pour ajouter des Points---*/
#card_add_point{
  float:left;
  min-height: 91vh;
  width: 20%;
}

.md-card_Point{
  margin-bottom: 20px;
}

.boutonMauve{
  background-color: #673ab7;
  color: white;
}

.btn_delete{
  background-color: red;
  color:white;
}

button{
  margin-bottom: 15px;
}

#btns_option_ajout_et_statistique{
  display: flex;
  justify-content: space-around;
}

/*----Section de la map----*/

#card_back_google_map{
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 91vh;
  flex-wrap: wrap;
}

.sebm-google-map-container {
height: 90vh;
width: 75vw;
}

