<md-card  id="card_add_point">

  <md-card class="md-card_Point" *ngFor="let point of this.camion.trajet">
    <form action="" class="stretched_form">
      <h2>Point {{point.ordre}} {{this.urlParameter}}</h2>

      <md-input-container>
        <input mdInput placeholder="Article" [value]="point.article">
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Code postal" [value]="point.codePostal">
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Temps estimé (hh:mm)" [value]="point.tempsEstime">
      </md-input-container>

      <button md-button class="boutonMauve">
        Sauvegarder
      </button>

      <button md-button class="btn_delete" (click)="removePointDeTrajet(point)">
        Supprimer
      </button>
    </form>
  </md-card>

  <div id="btns_option_ajout_et_statistique">
    <button style="width: 30%" md-button class="boutonMauve">Ajouter un point</button>
    <button style="width: 30%" md-button class="boutonMauve">Statistiques</button>
  </div>

</md-card>

<md-card id="card_back_google_map">

  <sebm-google-map [latitude]="lat" [longitude]="lng">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
</md-card>

