<div id="div_back">

    <md-card id="add">

      <h1>Points de livraison</h1>

      <md-card class="md_point_livraison">
        <h3>Point 1</h3>
        <md-input-container>
          <input mdInput placeholder="Objet">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Code Postal">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Heure(hh:mm)">
        </md-input-container>
      </md-card>

      <md-card class="md_point_livraison">
        <h3>Point 2</h3>
        <md-input-container>
          <input mdInput placeholder="Objet">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Code Postal">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Heure(hh:mm)">
        </md-input-container>
      </md-card>

      <div>
        <button md-button>
          Ajouter
        </button>
        <button md-button [routerLink]="['/statistique']">
          Statistiques
        </button>
      </div>

    </md-card>

    <md-card>

      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->

      <sebm-google-map [latitude]="lat" [longitude]="lng">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
      </sebm-google-map>
    </md-card>
</div>
