@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body{
  margin: 0;
}

.lbl_invalid_msg{
  font-size: 10px;
  color: red;
  float: right;
}

.stretched_form{
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  text-align: center;
}
